:root {
  font-family: 'Epilogue', 'Equestrial';
  line-height: 1.5;
  font-weight: 100;

  color-scheme: light dark;
  color: #213547;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #f59e0b;
  --secondary-color: #646cff;
  --background-light: #ffffff;
  --background-dark: #242424;
  --text-color-light: #213547;
  --text-color-dark: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--text-color-light);
}

main {
  padding: 2rem 5rem;
}

html, body, #root {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {

  color: var(--secondary-color);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
    color: #000;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-color-dark);
    background-color: var(--background-dark);
  }
  a {
    color: #a1afff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
  }
}
